{% extends "app1/base.html" %}

{% block body %}

<div class="frame">
    <div class="headline">
        <h3>月次売上チャート</h3>
    </div>

    <div class="comment">
        <p>&emsp;単位：千円</p>
    </div>

    <div class="output_main">
        <br>
        &emsp;店舗ID：{{shop_id}}<br>
        &emsp;店舗名：{{name}}<br>
        <br>
        
        <!--
        {% load static %}
        <img src="{% static 'app1/temp_image/chart.png' %}" alt="">
        -->
        
        <!--
        <img src="{{file_url}}" alt="">
        -->        
        
        <div style="width: 100%; height: 100%;">
            <canvas id="chart"></canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>        
        </div>
        
        
        <!--
        <script src="sales_chart.js"></script>
        -->
                
        <script>
            x = {{x}}
            y = {{y}}
            y_max = {{max_int}}
            y_min = {{min_int}}
            stepSize = 1000

            var ctx = document.getElementById("chart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {        
                    labels: x,        
                    datasets: [
                        {
                            data: y,
                            borderColor: "rgba(0,0,255,1)",
                            backgroundColor: "rgba(0,0,255,0.1)",
                            pointRadius: 0,
                        }            
                    ],
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                maxRotation: 90,
                                minRotation: 90,
                                maxTicksLimit: 15,
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMax: y_max,
                                suggestedMin: y_min,
                                stepSize: stepSize,
                            }
                        }]
                    },
                }
            });        
        </script>
        
        <br>
        &emsp;開始：{{year_s}}年{{month_s}}月<br>
        &emsp;終了：{{year_e}}年{{month_e}}月<br>
        &emsp;平均：{{mean}}<br>
        &emsp;標準偏差：{{std}}<br>
        &emsp;最大：{{max}}<br>
        &emsp;最小：{{min}}<br>
    </div><br>

    <div>
        <a href="{% url 'app1:app1_sales_chart' %}">入力画面へ</a>
    </div>

    <div>
        <a href="{% url 'app1:app1_sales' %}">売上分析機能一覧画面へ</a>
    </div>

    <div>
        <a href="{% url 'app1:app1_func' %}">分析機能一覧画面へ</a>
    </div>
</div>

{% endblock %}